.container {
  height: 100%;
}

mat-sidenav {
  width: 300px;
}

.content {
  height: 100%;
}

.content-card {
  margin: 10px;
  width: 90%;
}

.spacer {
  flex: 1 1 auto;
}

.footer {
  text-align: center;
  height: 40px;
}

.footer > a {
  text-decoration: none;
}

/* .wrapper {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.main {
  overflow: hidden;
}

.table {
  overflow-y: scroll;
}

.charts {
  overflow-y: scroll;
} */