<mat-toolbar color="primary">
  <button mat-icon-button>
    <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
  </button>
  <h1>COVID-19 HUB</h1>
  <span class="spacer"></span>
  <button mat-icon-button matTooltip="Add countries" (click)="addCountries()"><mat-icon>add_circle_outline</mat-icon></button>
</mat-toolbar>
<mat-sidenav-container class="container">
  <mat-sidenav #sidenav opened mode="side">
    <div>
      <mat-nav-list>
        <h3 matSubheader>Default</h3>
        <a mat-list-item *ngFor="let country of defaultCountries" (click)="select(country)">
          <mat-icon matListIcon>location_city</mat-icon>
          <h3 matLine>{{country}}</h3>
        </a>
        <mat-divider></mat-divider>
        <h3 matSubheader>My countries</h3>
        <a mat-list-item *ngFor="let country of savedCountries$ | async" (click)="select(country)">
          <mat-icon matListIcon>location_city</mat-icon>
          <h3 matLine>{{country}}</h3>
        </a>
      </mat-nav-list>
    </div>

    <div class="footer">
      <a target="_blank" [href]="restUrl">REST url</a>
    </div> 

  </mat-sidenav>

  <div class="content" fxLayout="column" fxLayoutAlign="start center">
    <div class="content-card">
      <mat-card *ngIf="country">
        <corona-table [country]="country"></corona-table>
      </mat-card>
      <mat-card *ngIf="country">
        <corona-details [country]="country"></corona-details>
      </mat-card>
      <mat-card *ngIf="!country">
        <div style="width: 100%; text-align: center;">Select or add a country!</div>
      </mat-card>
    </div>
    <corona-germany-map></corona-germany-map>
  </div>

</mat-sidenav-container>