<mat-toolbar color="primary">
  <button mat-icon-button>
    <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
  </button>
  <h1>COVID-19 HUB</h1>
  <span class="spacer"></span>
  <button mat-icon-button matTooltip="Add country" (click)="addCountry()"><mat-icon>add_circle_outline</mat-icon></button>
</mat-toolbar>
<mat-sidenav-container class="container">
  <mat-sidenav #sidenav opened mode="side" style="margin-bottom: 100px;">
    <div>
      <mat-nav-list>
        <a mat-list-item (click)="select('world')">
          <mat-icon matListIcon>location_city</mat-icon>
          <h3 matLine>World</h3>
        </a>
        <a mat-list-item (click)="select('germany')">
          <mat-icon matListIcon>location_city</mat-icon>
          <h3 matLine>Germany</h3>
        </a>
        <a mat-list-item (click)="select('croatia')">
          <mat-icon matListIcon>location_city</mat-icon>
          <h3 matLine>Croatia</h3>
        </a>
      </mat-nav-list>
    </div>

    <div class="footer">
      <a target="_blank" [href]="restUrl">REST url</a>
    </div> 

  </mat-sidenav>

  <div class="content" fxLayout="row" fxLayoutAlign="center start">
    <mat-card class="content-card">
      <app-details *ngIf="country" [country]="country"></app-details>
      <div *ngIf="!country" style="width: 100%;text-align: center;">Select or add a country!</div>
    </mat-card>
  </div>

</mat-sidenav-container>