mat-sidenav {
  width: 300px;
}

.container {
  height: calc(100% - 64px);
}

.content {
  height: 100%;
  overflow-y: scroll;
}

.content-wrapper {
  margin-top: 15px;
  margin-bottom: 15px;
  width: 90%;
}

.spacer {
  flex: 1 1 auto;
}

.with-margin {
  margin: 10px;
}

/* Country navigation list*/
.my-place {
  .remove-my-place {
    display: none;
  }
}
.my-place:hover {
  .remove-my-place {
    display: block;
  }
}

/* Footer classes */
.footer {
  text-align: center;
  height: 40px;
}

.footer > a {
  text-decoration: none;
}