  .toolbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    display: flex;
    align-items: center;
    background-color: #1976d2;
    color: white;
    font-weight: 600;
  }

  .content {
    position: absolute;
    top: 80;
    left: 0;
    right: 0;
    overflow: auto;
    margin: 50px 20px 32px;
    padding: 0 16px;
  }

  .corona-table {
    overflow: auto;
    height: 80%;
  }
  .grid{
    width: 100%;
    height: calc(100% - 80px);
    margin-top: 20px;
  }

  .corona-chart {
    width: 100%;
    height: 100%;
  }