/* .toolbar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  display: flex;
  align-items: center;
  background-color: #1976d2;
  color: white;
  font-weight: 600;
} */

.wrapper {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.main {
  overflow: hidden;
}

.table {
  overflow-y: scroll;
}

.charts {
  overflow-y: scroll;
}