.mat-card {
  margin: 10px;
  padding: 20px;
  margin-bottom: 10px;
}

.mat-table {
  min-height: 100px;
  width: 100%;
  overflow: auto;
}

.mat-header-row {
  	font-weight: bold;
}

.mat-footer-row {
  	font-weight: bold;
}
.mat-header-row th {
  position: sticky;
  top: 0;
  background-color: white;
}

.corona-table-root{
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: auto;
  height: 100%;
  width: 100%;
}

.mat-column-countryName {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 20% !important;
  width: 20% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;

  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.mat-column-stateName {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 20% !important;
  width: 20% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;

  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.mat-column-lastUpdated {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 20% !important;
  width: 20% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;

  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.mat-column-confirmedCases {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 13% !important;
  width: 13% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;

  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.mat-column-deathCases {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 13% !important;
  width: 13% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;

  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.mat-column-recoveredCases {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 14% !important;
  width: 14% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;

  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}