<div>
  <div fxLayout="row" fxLayoutAlign="center center">
    <mat-form-field appearance="outline">
      <mat-label>Date:</mat-label>
      <mat-select value="1">
        <mat-option value="1">Date 1</mat-option>
        <mat-option value="2">Date 2</mat-option>
        <mat-option value="3">Date 3</mat-option>
        <mat-option value="4">Date 4</mat-option>
        <mat-option value="5">Date 5</mat-option>
        <mat-option value="6">Date 6</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</div>
<div class="table">
  {{_country}}
</div>
<div class="chart">
  chart
</div>